root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.{cs,csx}]
indent_style = space
indent_size = 4

# Prefer explicit type over var
# YES: Foo foo = new();
# NO:  var foo = new Foo();
dotnet_diagnostic.IDE0008.severity = warning
csharp_style_var_for_built_in_types = false:warning
csharp_style_var_when_type_is_apparent = false:warning
csharp_style_var_elsewhere = false:warning

[*.{json,csproj,props,targets,slnx}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
